nvim_old/plugged
nvim_old/undo
.DS_Store
hammerspoon/Spoons
nvim_old/lang_servers
replacements.txt
nvim/plugin/packer_compiled.lua
# Common secret files (keep out of git)
.env
.env.*
.secrets*
.secret*
.zshrc.local
secrets*
